<head>
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
</head>
<div class="container">
  <div class="row">
    <div class="col-md-12"style="text-align:center">
      <h1><b>Biscovery Ltd. Artsty Analytics</b></h1>
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-12"style="text-align:center">
      <h6>Created by: Lili Zhang & Will Youngs</h6>
    </div>
  </div>
  <%= content_tag :div, "", id: "orders_chart",data:{orders: @artist_and_avg}%>
  <!--<div id="myfirstchart" style="height: 250px;"></div>-->
  
  <table>
  <thead>
    <tr>
      <th colspan="3">Artist</th>
      <th colspan="6">Average Price</th>
    </tr>
  </thead>
  <tbody>
    <% @artist_and_avg.each do |a| %>
      <tr>
        <td><%=a["artist"]%></td>
        <td><%=a["avg"]%></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <script>
    new Morris.Bar({
  // ID of the element in which to draw the chart.
  element: 'orders_chart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: $('#orders_chart').data('orders'),
  // The name of the data record attribute that contains x-values.
  xkey: 'artist',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['avg'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Average Price']
});
  </script>
  </div>